@charset "utf-8";
* {
	word-break: break-all;
	/* http://web-dou.com/css/etc_word_wrap1.html */
	margin: 4px 0px;
	color: #333333;
}

body {
	padding: 24px 48px;
	line-height: 1.4;
	background-color: #fcfcf1;
}

/* 見出し */

h1 {
	margin: 24px 0px;
	font-size: 2em;
	font-weight: bold;
	border-left: 1em solid #27577e;
	border-bottom: 1px dashed #27577e;
	padding: 2px 2px 2px 8px;
}

h2 {
	margin: 16px 0px;
	font-size: 1.6em;
	font-weight: bold;
	border-left: 0.25em solid #27577e;
	padding: 2px 2px 2px 8px;
}

h3 {
	margin: 12px 0px;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px dashed #27577e;
	padding: 2px 2px 2px 4px;
}

h4 {
	margin: 8px 0px;
	font-weight: bold;
	padding: 2px 2px 2px 4px;
}

h4:before {
	content: "◆ ";
}

/* 段落 */

p {
	margin: 4px 0px 8px 24px;
	text-indent: 1em;
}

/* フォーム部品 */

button {
	margin: 4px 4px;
	padding: 4px 24px;
	border-radius: 4px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

button:active {
	transform: translateY(2px);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
	padding: 4px 4px;
}

input[type="text"]:focus {
	box-shadow: 0 0 2px #3498db;
	border: 1px solid #3498db;
}

input[type="submit"] {
	margin: 8px 4px;
	padding: 4px 16px;
}

label {
	margin: 4px 8px 8px 4px;
	font-size: 1.1em;
}

input[type="radio"] {
	margin: 8px 8px;
}

/* テーブル基本 */

table {
	margin: 8px 0px 24px 0px;
	background-color: #ffffff;
}

table th {
	text-align: center;
	font-weight: bold;
}

/* リスト */

ul {
	margin: 4px 0px 8px 24px;
}

ul li::before {
	width: 8px;
	height: 8px;
	margin: auto 8px;
	background-color: #27577e;
	border-radius: 0.4em;
	content: '';
	display: inline-block;
}

/* ファイル選択 */

.fileInput {
	padding: 12px;
	background-image: linear-gradient(180deg, #efefef, #fefefe);
	border: 1px dashed #333333;
	border-radius: 0.4em;
}

/* canvas */

canvas {
	padding: 4px 12px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

/* 画像 */

img#dropBox {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img#dropBox.dropover {
	/* 下に動く */
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
}
